page-inscription {
  .logo{
    margin: auto;
  }
  .bienvenue{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    color: #8b0000;

  }
  
  .photo{
    height: 80px;
    width: 80px;
    border: 15px;
    //margin: auto;
    margin-left: 15px;
    background-color: #8b0000;
  }
}
