page-my-post {
    .add{
        margin-bottom: 40px;
    }
    strong{
        color: #8b0000;
        font-weight: bold;
    }
    .vendu{
            color: rgb(9, 148, 9);
     }

     .VenduIcon {
            color: rgb(9, 148, 9);
     }

     .EditionIcon {
        ion-icon{
            color: rgb(33, 134, 218);
        }
     }
     .VenduIcon {
        ion-icon{
            color: rgb(214, 39, 39);
        }
     }
}
