page-register {
    .logo{
        margin: auto;
    }
    .bienvenue{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bold;
        color : #8b0000;
        margin: auto;
    }
}
