page-chat {
    .content{
      background-color:wheat;   
     }
    .innerMessage{
        /* display: inline-block;
        padding:5px 10px;
        margin: 5px; */
    }
    .username{
        font-weight: inherit;
        font-family: Courier New, Courier, monospace;
        font-style: italic;
        font-size: 80%;
        float: right;
        color: white;
    }

    .message{
        color:black;
    }


    div#footer div.elem:first-child{
    flex-grow: 1;
    }

    .elem button{
        border-radius: 0;
        margin-left: 5px;
    }

    div#footer{
    display : flex;
    flex-direction: row;
    align-items: stretch;
    }

    ion-toolbar{
    margin: 10;
    padding: 0!important;
    border-radius: 5px;
    }
    .messageRight{
        float: right;
        background: #d31616;

    }
    .messageLeft{
        float: left;
        background: white;

    }
    .message:after{
        content: "";
        clear: both;
        display: block;
    }


   .bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px black;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    
  }

}
