page-home {
     .content{
        background-image: url('../assets/imgs/back.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
     }
    ion-title{
        text-align: center;
    }
    .logo{
        margin: auto;
    }
    .bienvenue{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bold;
        color : #8b0000;
        margin: auto;
    }
 
    .button-inscription{
        border-color: #8b0000;
        color: #8b0000;
        
    }
    .linkforget{
       margin: auto;
    }
    .ou{
        margin: auto;
    }
}
